@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: #287bff;
  border-left: 10px solid #287bff;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li.hovered, .navigation ul li:hover {
  background-color: white;
}

.navigation ul li.hovered a, .navigation ul li:hover a {
  color: #287bff;
}

.navigation ul li.hovered a::before, .navigation ul li:hover a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -60px;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 45px 47px 0 15px white;
          box-shadow: 45px 47px 0 15px white;
  pointer-events: none;
}

.navigation ul li.hovered a::after, .navigation ul li:hover a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -60px;
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 45px -47px 0 15px white;
          box-shadow: 45px -47px 0 15px white;
  pointer-events: none;
}

.navigation ul li:first-child {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  height: 60px;
  line-height: 70px;
  min-width: 60px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-align: start;
  white-space: nowrap;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px;
}

.topbar .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  font-size: 2.5em;
  cursor: pointer;
}

.topbar .search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.topbar .search label {
  position: relative;
  width: 100%;
}

.topbar .search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid #999;
}

.topbar .search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}

.topbar .user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.topbar .user img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card:hover {
  background: #287bff;
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: white;
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: #287bff;
}

.cardBox .card .cardName,
.cardBox .card .iconBx {
  color: #999;
}

.cardBox .card .cardName {
  font-size: 1.1em;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5em;
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}

.details .recentOrders {
  position: relative;
  display: -ms-grid;
  display: grid;
  min-height: 500px;
  background: white;
  padding: 20px;
  -webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .recentOrders table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details .recentOrders table thead td {
  font-weight: 600;
}

.details .recentOrders table tr {
  color: #222;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentOrders table tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tr td {
  padding: 10px;
}

.details .recentOrders table tr td:last-child, .details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}

.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}

.details .recentOrders table tbody tr:hover {
  background: #287bff;
  color: white;
}

.details .cardHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details .cardHeader h2 {
  font-weight: 600;
  color: #287bff;
}

.details .status.delivered {
  padding: 2px 4px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background: #8de02c;
}

.details .status.return {
  padding: 2px 4px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background: #f00;
}

.details .status.pending {
  padding: 2px 4px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background: #f9ca3f;
}

.details .status.inprogress {
  padding: 2px 4px;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  background: #1795ce;
}

.details .recentCustomers {
  position: relative;
  display: -ms-grid;
  display: grid;
  min-height: 500px;
  padding: 20px;
  -webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
          box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background: white;
}

.details .recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.details .recentCustomers .imgBx img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.details .recentCustomers table {
  border-spacing: 0px;
}

.details .recentCustomers table tr:hover {
  background: #287bff;
  color: white;
}

.details .recentCustomers table tr:hover td h4 span {
  color: white;
}

.details .recentCustomers table tr td {
  padding: 12px 10px;
}

.details .recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}

.details .recentCustomers table tr td h4 span {
  font-size: 14px;
  color: #999;
}

.btn {
  position: relative;
  padding: 5px 10px;
  background: #287bff;
  text-decoration: none;
  color: white;
  border-radius: 6px;
}

@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inprogress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: white;
    position: fixed;
    right: 0;
    left: initial;
  }
  .main.active {
    width: 0px;
  }
}
/*# sourceMappingURL=style.css.map */